body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

 p,td,li{
    font-style: italic;
    font-size: .97em;
 }

.head-sec1{
    background-color: #63480f;
    color: #b8995c;
    border-bottom: 1px solid #31260d;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head-sec2{
    background-color: #63480f;
}
.head-sec2 a{
    color: white;
    font-style: normal;
    padding: 2px 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head-sec2 li:hover{
    background-color: #b8995c;
    color: white;
}

.head-sec4{
    position: relative;
}


/* for mobile view and default view */
.head-sec4 .carousel-div{
    width: 80%;
    background-color: white;
    padding: 2px;
    position: absolute;
    top: 5px;
    left: 5px;
   }


/* for tablet view */
@media screen and (min-width: 426px){
    .head-sec4 .carousel-div{
        width: 40%;
        background-color: white;
        position: absolute;
        top: 10px;
        left: 120px;
       }
}
/* for desktop view */
@media screen and (min-width: 1010px){
    .head-sec4 .carousel-div{
        width: 40%;
        background-color: white;
        position: absolute;
        top: 160px;
        left: 130px;
       }
}


.main-sec1 img{
    max-width: 100%;
    height: auto;
}
.main-sec1 a{
    background-color: transparent;
    font-weight: bold;
}

.main-sec2 i{
    font-size: 3em;
    color: #7a9d9e;
}
.main-sec2 p{
    padding-top: 10px;
}
.main-sec2{
    background-color: #f8f5ed;
}
.main-sec3 a{
 color: #7a9d9e;
 font-style: normal;
 font-weight: bold;
}
.main-sec4 i{
    font-size: 30px;
    color: #ce7b77;
    text-align: left;
}
.main-sec5 img{
    max-width: 100%;
    height: auto;
}
.main-sec6 h3{
    color: #7a9d9e;
}
button, .carousel-div button{
    outline: none;
    border: 2px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
.main-sec8 i{
    color: #7a9d9e;
    font-size: 30px;
}
footer{
    background-color: #1f1707;
    color: #797366;
}
footer hr{
    color: yellow;
    width: 100%;
    height: 2px;
}
footer h5{
    color: #f8f5ed;
}
footer a,li{
    list-style: none;
    text-decoration: none;
    color: #797366;
}